<div class="full-width">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">About Us</li>
               </ul>
            </div>
            <div class="col-xs-12">
               <h3>About Us</h3>
               <hr>
            </div>
        </div>
        
        <div class="row row-content">
            <div class="col-xs-12 col-sm-8">
                <h3>Profile</h3>
                <p>Cupcake ipsum dolor sit amet topping tootsie roll marzipan jelly. Tart cheesecake croissant icing liquorice tootsie roll jelly beans. Gingerbread donut powder. Cotton candy pastry marzipan dragée.
Fruitcake jelly pastry. Cheesecake carrot cake marshmallow halvah dessert jelly beans caramels. Brownie cheesecake muffin cupcake lollipop. Cotton candy gummies cupcake donut tiramisu jelly beans gingerbread chocolate bar.
Dessert pudding marshmallow pastry muffin brownie croissant pastry. Chocolate cupcake topping cotton candy candy gummies toffee gummi bears jelly. Lollipop jelly beans pudding cookie pie dragée powder donut halvah.
Donut chocolate cake jelly beans chocolate cake macaroon. Chocolate cake lemon drops lemon drops. Brownie sesame snaps toffee tiramisu chocolate cake sweet.
Chocolate cake brownie cheesecake. Halvah jelly donut powder. Wafer topping macaroon caramels jujubes.</p>
                <div class="well">
                    <blockquote>
                        <p>There is no seven wonders of the world in the eyes of a child. There are seven million.</p>
                        <footer>Walt Streightiff  
                        <cite title="Source Title"> http://www.thefreshquotes.com/funny-children-quotes</cite></footer>
                    </blockquote>                
                </div>

            </div>
  
        </div>

    </div>
</div>