<div class="full-width">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li>Admin</li>
                   <li class="active">Home Page Content</li>
               </ul>
            </div>
        </div>
        <div class="row">
           <div class="col-xs-12">
              <h3>Maintain Content</h3> 
           </div>
        </div>
        <div class="row" ng-model="message" ng-if="showMsg">
            <p>{{message.msgkey}}:{{message.msg}}</p>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-9"> 
                <form class="form-horizontal" role="form" 
                      name="homeForm" ng-submit="updateMsg()" novalidate>
                    <div class="form-group" ng-class="{ 'has-error' : homeForm.themsg.$invalid && homeForm.themsg.$dirty }">
                        <label for="themsg" class="col-sm-2 control-label">Home Page Message</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="themsg" name="themsg" placeholder="Message for home page" 
                                      rows="10" ng-model="message.msg"  required></textarea>
                        <span class="has-error control-label" ng-show="homeForm.themsg.$invalid && homeForm.themsg.$dirty" 
                              class="help-block">The message cannot be empty</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="homeForm.$invalid">Update</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row">
            <h3>Current home page objects</h3> 
            <div class="list-group">
                <a class="list-group-item" ng-repeat="featured in featureds">{{featured.productId}}&nbsp;
                <i class="glyphicon glyphicon-remove pull-right"
                        ng-click="removeProduct(featured)"></i></a>
            </div>
            <div class="radio" ng-repeat="featured in featureds">
                <label>
                <input type="radio" ng-model="$parent.first" ng-value="featured.first" ng-click="updateFeaturedList(featured)")>
                        {{featured.productId}}
                </label>
            </div>
        </div>
        <div class="row">
            <h3>Products to add</h3> 
            <div class="list-group">
                <a class="list-group-item" ng-repeat="product in products">{{product.name}} {{product.id}}&nbsp;
                <i class="glyphicon glyphicon-plus pull-right"
                        ng-click="addProduct(product)"></i></a>
            </div>
        </div>
<!--        <div class="row row-content">
                <div class="list-group">
                    <a class="list-group-item" ng-repeat="theme in themes">{{theme.name}} {{theme.id}}&nbsp;
                    <i class="glyphicon glyphicon-remove pull-right"
                        ng-click="removeTheme(theme)"></i></a>
                </div>
        </div>  -->
    </div>
</div>