
<div class="full-width">
<div class="container">
        <div class="row row-content">
            <div class="col-xs-12" ng-if="!showProduct">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-12" ng-if="showProduct">
                <div class="btn-group-vertical pull-right">
                <button class="btn btn-xs btn-primary"
                    type="button" ui-sref="app.products">
                    Back to Products
                </button>
                <button class="btn btn-xs btn-link"
                    type="button">
                    <p></p>
                </button>
                <div ng-if="loggedIn">
                    <button class="btn btn-xs btn-success"
                        type="button" ng-click="addToWishlist(product.id)">
                        Add to My Wishlist
                    </button>
                </div>
                </div>
                <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{product.image}} alt="{{product.name}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{product.name}}
                         <span class="label label-danger">{{product.label}}</span>
                         <span class="badge">{{product.unitprice | currency:"R"}}</span></h2>
                        <p>{{product.description}}</p>
                    </div>
            </div>
            <div class="col-xs-3 col-xs-offset-1">
                <h3><strong>Customer Reviews</strong></h3>
            </div>
            <!-- <div class="col-xs-3" style="margin-top: 15px">
                <form class="form-inline">
                    <label for="sortit">Sort By</label>
                    <input type="text" class="form-control" id="sortit" ng-model="sortField">
                </form>
            </div> -->
            <div class="col-xs-9 col-xs-offset-1" ng-if="!showReviews">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-9 col-xs-offset-1" ng-if="showReviews">
                <ul class="list-unstyled">
                    <li class="unstyled" ng-repeat="review in reviews"> <!-- | orderBy : sortField"> -->
                        <blockquote>
                            <p>{{review.rating}} Stars</p>
                            <p>{{review.review}}</p>
                            <footer>{{review.author}}, {{review.createdAt | date : "MMM. dd,yyyy"}}</footer>
                        </blockquote>
                    </li>
                </ul>     
            </div>
           <div class="col-xs-9 col-xs-offset-1" ng-controller="ReviewController">
                    <ul class="list-unstyled">
                        <span ng-show="loggedIn && !commentForm.$invalid && !commentForm.$pristine"> 
                        <blockquote>
                            <p>{{newcomment.rating}} Stars</p>
                            <p>{{newcomment.review}}</p>
                            <footer>{{newcomment.author}}, </footer>
                        </blockquote>
                        </span>
                    </ul>
                <form ng-if="loggedIn" class="form-horizontal" name="commentForm"
                		ng-submit="submitComment(commentForm)" novalidate>
                    <!--<div class="form-group" ng-class="{ 'has-error' : commentForm.yourname.$error.required && !commentForm.yourname.$pristine }">
                        <label for="yourname" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="yourname" name="yourname" 
                                   placeholder="Enter Your Name" ng-model="newcomment.author" required>
                        <span ng-show="commentForm.yourname.$error.required && !commentForm.yourname.$pristine" 
                              class="help-block">Your name is required.</span>
                        </div>
                    </div> -->
                    <div class="form-group">
                        <label for="inLineRadioOptions" class="col-xs-12 col-sm-2 control-label">Number of Stars</label>
                        <div class="col-sm-10">
                            <!--<label class="radio-inline" ng-repeat="star in stars">
                            <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="newcomment.rating" value={{star.value}}> {{star.label}}
                            </label>  -->
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio1" ng-model="newcomment.rating" value="1"> 1
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio2"  ng-model="newcomment.rating" value="2"> 2
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio3"  ng-model="newcomment.rating" value="3"> 3
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio4"  ng-model="newcomment.rating" value="4"> 4
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="inlineRadioOptions" id="inlineRadio5"  ng-model="newcomment.rating" value="5"> 5
                            </label>
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : commentForm.comments.$error.required && !commentForm.comments.$pristine }">
                        <label for="comments" class="col-sm-2 control-label">Your Review</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" id="comments" name="comments" rows="5"
                                      ng-model="newcomment.review" required></textarea>
                        <span ng-show="commentForm.comments.$error.required && !commentForm.comments.$pristine" 
                              class="help-block">Please provide a comment.</span>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="commentForm.$invalid">Submit Review</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div> 

