  
<div class="full-width">
<div class="container" data-spy="scroll" data-target=".scrollspy">
        <div class="row">
            <div class="col-xs-12">
               <ul class="breadcrumb">
                   <li><a href="index.html">Home</a></li>
                   <li class="active">Products</li>
               </ul>
            </div>
        </div>
         <div class="row">      
            <div class="col-xs-2 scrollspy">
            <div ng-if="!showProducts">
                <h3>{{message}}</h3>
            </div>
            <div ng-if="showProducts" data-spy="affix" data-offset-top="195">
                <h3>Theme filter</h3>
                    <div class="radio">
                    <label><input type="radio" ng-model="filtText" value="" ng-click="updateFilter('')">All</label>
                    </div>
                    <div class="radio" ng-repeat="theme in themes">
                    <label>
                    <input type="radio" ng-model="$parent.filtText" value="{{theme.name}}" ng-click="updateFilter(theme.name)")>
                        {{theme.name}}
                    </label>
                    </div>
            </div> 
            </div>
             
            <div class="col-xs-10" ng-if="!showProducts">
                <h3>{{message}}</h3>
            </div>
            <div class="col-xs-10" ng-if="showProducts">
                <div class = "row row-content">
                <div ng-repeat="prod in products | filter:{ description: filtText }">
                        <div  class="product-listing col-xs-6 col-sm-4">
                        <a ui-sref="app.productdetail({id: prod.id})">
                        <img class="img-responsive"
                         ng-src={{prod.image}} alt="{{prod.name}}">
                        </a>
                            <p>{{prod.name}}</p>
                        </div>
                </div>
                </div>
            </div>  
        </div> 
    </div>
</div>
